/* font import */
@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz&family=Yesteryear&display=swap');

/* end font import */

/* start global styles */
* {
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  list-style-type: none;
  margin: 0rem 0rem 0rem 0rem;
  padding: 0rem 0rem 0rem 0rem;
}

body {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    
}

html {
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none;  
  scrollbar-width: none;
}

.page-container {
    margin: 0 2rem;
    border-radius: 2rem;
    overflow: hidden;
    box-shadow: .03rem .01rem 5rem .3rem rgba(33, 95, 4, 0.836);
    
}

.page-center {
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 0rem 0rem 0rem 0rem;
    
}

section {
    top: 0;
    margin: 0rem 0rem 0rem 0rem;
    text-align: center;
    background: url('images/food-top.jpg') no-repeat center;
    background-size: cover;
    padding: 0rem 0rem 0rem 0rem;
    height: 50rem;
    z-index: -1;
}

a {
    text-decoration: none;
    color: grey;
}
/*  end global styles */

/* start navigation styles */
.logo {
    font-family: 'Yesteryear', cursive;
    font-size: 2.5rem;
    flex: 1 1 auto;
    margin-left: 4.5rem;
    color: rgb(157, 187, 144);
    text-shadow: .1rem .2rem .5rem rgb(0, 0, 0);
    letter-spacing: .1rem;
}

.nav-bar {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    z-index: 1;
    height: 5rem;
    transition: all 800ms cubic-bezier(.01, 0, .0, 1.05);
    background: linear-gradient(to right, rgb(255, 255, 255), rgb(151, 182, 135));
}

.nav-list {
    display: flex;
    justify-content: right;
    margin-right: 6rem;
}

.nav-list a {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 2rem;
    margin: 2rem;
    color: white;
    text-shadow: .1rem .2rem .5rem black;
    letter-spacing: .2rem;
}

.nav-link:hover,
.nav-link:focus {
    font-size: 2.1rem;
     -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: rgba(255, 255, 255, 0.678); */
 }  
/* end navigation styles */

/* start box styles */
.box-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-flow: row;
    margin: 5rem 0rem 5rem 0rem;
    padding: 30rem 0rem 0rem 0rem;
}

.box {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem 3rem 3rem 3rem;
    margin: 0rem 4rem 0rem 4rem;
    border: .1rem solid black;
    border-radius: 1rem;
    background: linear-gradient(to top, transparent, rgb(151, 182, 135));
    box-shadow: .03rem .01rem 2rem .3rem;
}

.box-font {
    margin: 2rem 0rem 0rem 0rem;
    font-size: 2rem;
     text-shadow: .2rem .3rem .4rem white;
}

.box .icon {
    font-size: 4.5rem;
    color: white;
    text-shadow: .1rem .7rem .5rem black;
}

.box-font a:hover {
    font-size: 2.3rem;
    color: rgba(0, 0, 0, 0.37);
   
}
/* end box styles */

/* start bottom nav styles */
 .logo-bottom {
    font-family: 'Yesteryear', cursive;
    font-size: 2.5rem;
    flex: 1 1 auto;
    color: rgb(157, 187, 144);
    text-shadow: .1rem .2rem .5rem rgb(0, 0, 0);
    letter-spacing: .1rem;
    padding: 0rem 0rem 0rem 50rem;
}

.nav-bar-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    width: 100%;
    bottom: 0;
    z-index: 1;
    height: 5rem;
    transition: all 800ms cubic-bezier(.01, 0, .0, 1.05);
    background: linear-gradient(to left, rgb(255, 255, 255), rgb(151, 182, 135));
}

.nav-list-bottom {
    display: flex;
    justify-content: right;
}

.nav-list-bottom a {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 2rem;
    margin: 2rem;
    color: white;
    text-shadow: .1rem .2rem .5rem black;
    letter-spacing: .2rem;
}

.nav-link:hover,
.nav-link:focus {
    font-size: 2.1rem;
     -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: rgba(255, 255, 255, 0.678); */
 }
/* end bottom nav styles */

/* start footer styles */
.copyright {
    text-align: center;
    color: white;
    background-color: rgba(33, 95, 4, 0.438);
    font-size: 1rem;
    padding: .5rem .5rem;
    font-family: initial;
}


/* end footer styles */